:root {
  --primary-color: #675cdc;
  --secondary-color: #eeebf8;
  --tertiary-color: #ddd4f8;
  --branding-color: #675cdc;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background: var(--secondary-color);
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}
h4 {
  font-size: 28px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  justify-content: center;
  border-radius: 10px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-section-content {
  margin: 30px;
}
.content-container {
  margin: 30px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--tertiary-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
footer .contact-box p {
  margin: 0;
  text-align: center;
}
footer .social-links a {
  margin: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 34px;
  color: var(--branding-color);
  opacity: 0.7;
}
footer .social-links a:hover {
  color: violet;
  transition: all 150ms ease-in-out;
}
@media (max-width: 900px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
